**Grocery Stores are a vital part of everyday life, providing us with the food and essentials as we need. Many people utilize grocery delivery applications to order their products, making it easy to shop from home.**

**Each transaction made through these applications is recorded in detail, creating a valuable dataset. This project looks at data from these transactions to understand how well these stores are performing.**

# Importing Libraries

In [57]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

# Reading Excel File

In [58]:
df = pd.read_excel('/content/Supermart Grocery Sales - Retail Analytics Dataset.csv.xlsx')

In [59]:
df.head(5)

,Order ID,Customer Name,Category,Sub Category,City,Order Date,Region,Sales,Discount,Profit,State
0,OD1,Harish,Oil & Masala,Masalas,Vellore,2017-08-11 00:00:00,North,1254,0.12,401.28,Tamil Nadu
1,OD2,Sudha,Beverages,Health Drinks,Krishnagiri,2017-08-11 00:00:00,South,749,0.18,149.80,Tamil Nadu
2,OD3,Hussain,Food Grains,Atta & Flour,Perambalur,2017-12-06 00:00:00,West,2360,0.21,165.20,Tamil Nadu
3,OD4,Jackson,Fruits & Veggies,Fresh Vegetables,Dharmapuri,2016-11-10 00:00:00,South,896,0.25,89.60,Tamil Nadu
4,OD5,Ridhesh,Food Grains,Organic Staples,Ooty,2016-11-10 00:00:00,South,2355,0.26,918.45,Tamil Nadu

# Cleaning Data

In [60]:

#dropping Order ID Column
df.drop(['Order ID'], axis = 1, inplace = True)

In [61]:
df.isnull().sum()

Customer Name    0
Category         0
Sub Category     0
City             0
Order Date       0
Region           0
Sales            0
Discount         0
Profit           0
State            0
dtype: int64

In [62]:
df.duplicated().sum()

np.int64(0)

In [63]:
df.drop_duplicates()

,Customer Name,Category,Sub Category,City,Order Date,Region,Sales,Discount,Profit,State
0,Harish,Oil & Masala,Masalas,Vellore,2017-08-11 00:00:00,North,1254,0.12,401.28,Tamil Nadu
1,Sudha,Beverages,Health Drinks,Krishnagiri,2017-08-11 00:00:00,South,749,0.18,149.80,Tamil Nadu
2,Hussain,Food Grains,Atta & Flour,Perambalur,2017-12-06 00:00:00,West,2360,0.21,165.20,Tamil Nadu
3,Jackson,Fruits & Veggies,Fresh Vegetables,Dharmapuri,2016-11-10 00:00:00,South,896,0.25,89.60,Tamil Nadu
4,Ridhesh,Food Grains,Organic Staples,Ooty,2016-11-10 00:00:00,South,2355,0.26,918.45,Tamil Nadu
...,...,...,...,...,...,...,...,...,...,...
9989,Sudeep,"Eggs, Meat & Fish",Eggs,Madurai,12/24/2015,West,945,0.16,359.10,Tamil Nadu
9990,Alan,Bakery,Biscuits,Kanyakumari,2015-12-07 00:00:00,West,1195,0.26,71.70,Tamil Nadu
9991,Ravi,Food Grains,Rice,Bodi,2017-06-06 00:00:00,West,1567,0.16,501.44,Tamil Nadu
9992,Peer,Oil & Masala,Spices,Pudukottai,10/16/2018,West,1659,0.15,597.24,Tamil Nadu
9993,Ganesh,Food Grains,Atta & Flour,Tirunelveli,4/17/2018,West,1034,0.28,165.44,Tamil Nadu

In [64]:
df.shape

(9994, 10)

In [65]:
df.size

99940

In [66]:
df.columns

Index(['Customer Name', 'Category', 'Sub Category', 'City', 'Order Date',
       'Region', 'Sales', 'Discount', 'Profit', 'State'],
      dtype='object')

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Customer Name  9994 non-null   object
 1   Category       9994 non-null   object
 2   Sub Category   9994 non-null   object
 3   City           9994 non-null   object
 4   Order Date     9994 non-null   object
 5   Region         9994 non-null   object
 6   Sales          9994 non-null   int64
 7   Discount       9994 non-null   float64
 8   Profit         9994 non-null   float64
 9   State          9994 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 780.9+ KB

In [68]:
df['Order Date'].sample(5)

4779    2017-11-11 00:00:00
9302    2018-11-03 00:00:00
4950              6/21/2015
8981              9/23/2017
4357              1/22/2017
Name: Order Date, dtype: object

In [69]:
# Converting Order Date Column to Pandas DateTime Format
# By using (format="mixed") because Order Date has mixed format data (8/27/2016, 06-11-2016 etc.)
df["Order Date"] = pd.to_datetime(df["Order Date"], format="mixed")

In [70]:
# Sample Data from Order Date Column after transformation
df["Order Date"].sample(5)

5676   2016-05-29
208    2018-01-12
6001   2017-02-05
4205   2016-11-25
3915   2016-12-06
Name: Order Date, dtype: datetime64[ns]

In [71]:
# Extracting Year, Month and Date from OrderDate Column
df["Year"] = df["Order Date"].dt.year
df["Month"] = df["Order Date"].dt.month
df["Date"] = df["Order Date"].dt.day

In [73]:

# We are extracting Discount Amount from Discount Percentage
# By using formula : CP = (SP*100/100-Discount%)
# And then we are subtracting CP from SP to get Discount Amount
df["Discount_Amt"] = round((df["Sales"]*100)/(100-(df["Discount"]*
100))).astype(int) - df["Sales"]

In [74]:
# Dropping Order Date Column
df.drop(["Order Date","Discount"], axis=1, inplace=True)

In [75]:
#Final DataFrame
df.head(5)

,Customer Name,Category,Sub Category,City,Region,Sales,Profit,State,Year,Month,Date,Discount_Amt
0,Harish,Oil & Masala,Masalas,Vellore,North,1254,401.28,Tamil Nadu,2017,8,11,171
1,Sudha,Beverages,Health Drinks,Krishnagiri,South,749,149.80,Tamil Nadu,2017,8,11,164
2,Hussain,Food Grains,Atta & Flour,Perambalur,West,2360,165.20,Tamil Nadu,2017,12,6,627
3,Jackson,Fruits & Veggies,Fresh Vegetables,Dharmapuri,South,896,89.60,Tamil Nadu,2016,11,10,299
4,Ridhesh,Food Grains,Organic Staples,Ooty,South,2355,918.45,Tamil Nadu,2016,11,10,827